<p>Sappenin' bro?</p>

{% if dad_joke %}
  <p><em>{{ dad_joke }}</em> 🤦‍♂️</p>
{% endif %}

<p>Anyway, here's some choons to stick in your ear holes:</p>

<br />

{% for d in digest %}
  <h3><a href="{{ d['link'] }}">{{ d['title'] }}</a></h3>

  {% if d['errors'] %}
    <p><strong>😱 Error getting digest 😱</strong></p>
  {% elif not d['items'] %}
    <p>No updates today!</p>
  {% else %}
    <ol>
      {% for i in d['items'] %}
        <li><a href="{{ i['link'] }}">{{ i['artist'] }} - {{ i['title'] }}</a></li>
      {% endfor %}
    </ol>
  {% endif %}

  <br />
{% endfor %}

<p>Until next time 🤘</p>
